<!DOCTYPE html>
<html>
    <head>
        <title>Sign Up Successfully!</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/sign_up_success.css">
    </head>

    <body>
        <div id="wrapper">
            <img id="header" src="/images/header.png">
            <ul id="topNav">
                <li><a href="/">Homepage</a></li>
                <li><a href="/users/login">Log In</a></li>
                <li><a href="/contactUs">Contact Us</a></li>
            </ul>
            <br>
            <div id="information">
                <p id="default">Signed Up</p>
                <p id="default">Successfully!</p>
                <br>
                <button id="submit" onclick="location.href='/users/login'">Log in</button>
            </div>
            

        </div>
    </body>
</html>